<launch>
  <node pkg="stargazer_ros_tool" type="landmark_calibrator" name="landmark_calibrator" output="screen" required="true">
    <param name="stargazer_cfg_file_in" value="$(find stargazer_ros_tool)/res/stargazer_optimized.yaml"/>
    <param name="stargazer_cfg_file_out" value="$(find stargazer_ros_tool)/res/stargazer_optimized2.yaml"/>
    <param name="bag_file" value="$(find stargazer_ros_tool)/../Stargazer_2016-06-10-23-52-59.bag"/>
    <param name="landmark_topic" value="/landmarks_seen"/>
    <param name="pose_topic" value="/landmark_localizer_nodelet/pose"/>
  </node>
</launch>
