<launch>
  <arg name="nodelet_manager_name" default="standalone_nodelet"/>
  <arg name="start_nodelet_manager" default="true"/>
  <arg name="stargazer_config" default="$(find stargazer_ros_tool)/res/stargazer.yaml"/>


  <node pkg="stargazer_ros_tool" type="landmark_localizer" name="landmark_localizer_node" output="screen"
        launch-prefix="valgrind">
        <!--launch-prefix="gdb &#45;&#45;args">-->
    <param name="stargazer_config" value="$(arg stargazer_config)"/>
    <param name="map_frame" value="world"/>
    <param name="camera_frame" value="vehicle"/>
    <param name="use_ceres" value="True"/>
    <param name="debug_mode" value="True"/>
  </node>
</launch>
