<launch>
  <arg name="start_rviz" default="true"/>
  <arg name="bag_file" default="$(find stargazer_ros_tool)/../Stargazer.bag_optimized.bag"/>

  <include file="$(find stargazer_ros_tool)/launch/static_transform.launch"/>

  <node pkg="stargazer_ros_tool" type="pose_visualizer" name="pose_visualizer" output="screen" required="true">
    <param name="bag_file" value="$(arg bag_file)"/>
    <param name="map_frame" value="world"/>
    <param name="robot_frame" value="vehicle"/>
    <param name="camera_frame" value="camera"/>
    <param name="pose_topic" value="/stargazer/camera_pose"/>
    <param name="pose_optimized_topic" value="/stargazer/camera_pose_optimized"/>
    <param name="pose_pub_topic" value="/poses"/>
    <param name="pose_opt_pub_topic" value="/poses_optimized"/>
    <param name="rate" value="0.2"/>

  </node>

  <!-- Start an rviz node with a custom configuration for the viewpoint, map_server, trajectory, laser scans, etc -->
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find stargazer_ros_tool)/res/stargazer.rviz" if="$(arg start_rviz)"/>

</launch>
