<!--
Starts a PR2 Prosilica camera in streaming mode.
This file exists mainly for backwards compatibility.
-->

<launch>

  <include ns="prosilica_driver" file="$(find prosilica_camera)/launch/generic.launch">
    <arg name="camera"       value="prosilica" />
    <arg name="ip_address"   value="192.168.184.44" />
    <arg name="trigger_mode" value="streaming" />
    <arg name="frame_id"     value="high_def_optical_frame" />
  </include>

  <node name="auto_exposure" pkg="dynamic_reconfigure" type="dynparam" args="set /prosilica_driver/prosilica_driver auto_exposure False" >
  </node>
  <node name="exposure" pkg="dynamic_reconfigure" type="dynparam" args="set /prosilica_driver/prosilica_driver exposure 0.05" >
  </node>

</launch>



