<launch>
  <!-- Nodelet manager configuration -->
  <arg name="nodelet_manager_name" default="stargazer"/>
  <arg name="start_nodelet_manager" default="false"/>
  <arg name="stargazer_config" default="$(find stargazer_ros_tool)/res/stargazer_optimized.yaml"/>

  <!-- Nodelet manager (if enabled) -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen"/>

  <!--Image Undistorter-->
  <include file="$(find stargazer_ros_tool)/launch/image_undistorter_nodelet.launch">
    <arg name="start_nodelet_manager" value="$(arg start_nodelet_manager)"/>
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)"/>
  </include>

  <!--Landmark Finder-->
  <include file="$(find stargazer_ros_tool)/launch/landmark_finder_nodelet.launch">
    <arg name="start_nodelet_manager" value="$(arg start_nodelet_manager)"/>
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)"/>
    <arg name="stargazer_config" value="$(arg stargazer_config)"/>
  </include>

  <!--Localizer-->
  <include file="$(find stargazer_ros_tool)/launch/landmark_localizer_nodelet.launch">
    <arg name="start_nodelet_manager" value="$(arg start_nodelet_manager)"/>
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)"/>
    <arg name="stargazer_config" value="$(arg stargazer_config)"/>
  </include>

</launch>



