<launch>
  <arg name="stargazer_config" default="$(find stargazer_ros_tool)/res/stargazer_optimized.yaml"/>

  <!--Rosbag-->
  <include file="$(find stargazer_ros_tool)/launch/rosbag_play.launch"/>

  <!--Stargazer Pipeline-->
  <include file="$(find stargazer_ros_tool)/launch/stargazer_nodelets.launch">
    <arg name="stargazer_config" value="$(arg stargazer_config)"/>
  </include>

  <!--Visualizer-->
  <include file="$(find stargazer_ros_tool)/launch/landmark_visualizer.launch">
    <arg name="stargazer_config" value="$(arg stargazer_config)"/>
  </include>


</launch>